{% extends 'base.html' %}

{% block title %}
{% endblock title%}

{% block content %}
<div>
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>{{ button_name }}</button>
    </form>
</div>
{% endblock content%}
